<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>waf</servlet-name>
		<servlet-class>com.code5.fw.web.MasterController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>waf</servlet-name>
		<url-pattern>/waf/*</url-pattern>
	</servlet-mapping>


</web-app>