<html xmlns:th="http://www.thymeleaf.org">
<span th:text="*{isCallListThymeleaf}"></span>
<br>
<span th:text="*{isForceDelete}"></span>
<br>
<span th:text="*{['com.code5.fw.web.KEY_FW_VIEW']['VIEW']}"></span>
<br>
<span th:text="*{['com.code5.fw.web.KEY_FW_VIEW']['TMPL']}"></span>
<br>
<span th:text="*{list.limitRecode}"></span>
<br>
<span th:text="*{list.limitBox['N']}"></span>
<br>
<table>
	<th:block th:each="r:${list}">
		<tr>
			<td th:text="${r['N']}"></td>
			<td th:text="${r['TITLE']}"></td>
			<td th:text="${r['EM']}"></td>
			<td th:text="${r['TOKEN_N']}"></td>
			<td th:text="${r['service']}"></td>
		</tr>
	</th:block>
</table>